In [79]:
import pandas as pd

In [80]:
a = pd.Series([1,2,3,4,5])

In [81]:
a

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [82]:
type(a)

pandas.core.series.Series

In [83]:
a[2]

3

In [84]:
a= pd.Series(['a','b','c'])

In [85]:
a

0    a
1    b
2    c
dtype: object

In [86]:
a= pd.date_range(start='01-01-2010', end='23-05-2010' )

C:\Users\soham\AppData\Local\Temp\ipykernel_12228\4022620596.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  a= pd.date_range(start='01-01-2010', end='23-05-2010' )

In [87]:
a

DatetimeIndex(['2010-01-01', '2010-01-02', '2010-01-03', '2010-01-04',
               '2010-01-05', '2010-01-06', '2010-01-07', '2010-01-08',
               '2010-01-09', '2010-01-10',
               ...
               '2010-05-14', '2010-05-15', '2010-05-16', '2010-05-17',
               '2010-05-18', '2010-05-19', '2010-05-20', '2010-05-21',
               '2010-05-22', '2010-05-23'],
              dtype='datetime64[ns]', length=143, freq='D')

In [88]:
a = pd.date_range(start='01-01-2010', end='23-05-2010' , periods=6)

C:\Users\soham\AppData\Local\Temp\ipykernel_12228\1827745450.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  a = pd.date_range(start='01-01-2010', end='23-05-2010' , periods=6)

In [89]:
a

DatetimeIndex(['2010-01-01 00:00:00', '2010-01-29 09:36:00',
               '2010-02-26 19:12:00', '2010-03-27 04:48:00',
               '2010-04-24 14:24:00', '2010-05-23 00:00:00'],
              dtype='datetime64[ns]', freq=None)

In [90]:
import numpy as np

In [91]:
t = np.random.randint(20,100, size=[20,])
name = np.random.choice(['Abhay', 'Teclov', 'Geeks', 'Ant'],20)
ran = np.random.choice([10,11,12,13,14],20)

In [92]:
t

array([66, 32, 56, 56, 78, 42, 94, 22, 83, 83, 34, 40, 34, 94, 62, 87, 22,
       66, 66, 51])

In [93]:
a= list(zip(t, name, ran))

In [94]:
df = pd.DataFrame(data=a, columns=['temp', 'name','random'])

In [95]:
df

    temp    name  random
0     66   Geeks      13
1     32     Ant      12
2     56   Abhay      13
3     56   Geeks      11
4     78  Teclov      12
5     42   Abhay      10
6     94   Abhay      11
7     22   Abhay      12
8     83   Abhay      11
9     83   Geeks      12
10    34  Teclov      14
11    40     Ant      13
12    34  Teclov      10
13    94     Ant      11
14    62     Ant      10
15    87  Teclov      13
16    22   Abhay      11
17    66   Geeks      10
18    66   Abhay      14
19    51     Ant      11

In [96]:
df.head()

   temp    name  random
0    66   Geeks      13
1    32     Ant      12
2    56   Abhay      13
3    56   Geeks      11
4    78  Teclov      12

In [97]:
df.tail()

    temp    name  random
15    87  Teclov      13
16    22   Abhay      11
17    66   Geeks      10
18    66   Abhay      14
19    51     Ant      11

In [98]:
df.info

<bound method DataFrame.info of     temp    name  random
0     66   Geeks      13
1     32     Ant      12
2     56   Abhay      13
3     56   Geeks      11
4     78  Teclov      12
5     42   Abhay      10
6     94   Abhay      11
7     22   Abhay      12
8     83   Abhay      11
9     83   Geeks      12
10    34  Teclov      14
11    40     Ant      13
12    34  Teclov      10
13    94     Ant      11
14    62     Ant      10
15    87  Teclov      13
16    22   Abhay      11
17    66   Geeks      10
18    66   Abhay      14
19    51     Ant      11>

In [99]:
df.describe()

            temp     random
count  20.000000  20.000000
mean   58.400000  11.700000
std    23.333734   1.301821
min    22.000000  10.000000
25%    38.500000  11.000000
50%    59.000000  11.500000
75%    79.250000  13.000000
max    94.000000  14.000000

In [100]:
df2 = pd.DataFrame({'temp': t, 'name': name, 'random': ran })

In [101]:
df2

    temp    name  random
0     66   Geeks      13
1     32     Ant      12
2     56   Abhay      13
3     56   Geeks      11
4     78  Teclov      12
5     42   Abhay      10
6     94   Abhay      11
7     22   Abhay      12
8     83   Abhay      11
9     83   Geeks      12
10    34  Teclov      14
11    40     Ant      13
12    34  Teclov      10
13    94     Ant      11
14    62     Ant      10
15    87  Teclov      13
16    22   Abhay      11
17    66   Geeks      10
18    66   Abhay      14
19    51     Ant      11

In [102]:
df.shape

(20, 3)

In [103]:
df.columns

Index(['temp', 'name', 'random'], dtype='object')

In [104]:
df.name

0      Geeks
1        Ant
2      Abhay
3      Geeks
4     Teclov
5      Abhay
6      Abhay
7      Abhay
8      Abhay
9      Geeks
10    Teclov
11       Ant
12    Teclov
13       Ant
14       Ant
15    Teclov
16     Abhay
17     Geeks
18     Abhay
19       Ant
Name: name, dtype: object

In [105]:
df.temp

0     66
1     32
2     56
3     56
4     78
5     42
6     94
7     22
8     83
9     83
10    34
11    40
12    34
13    94
14    62
15    87
16    22
17    66
18    66
19    51
Name: temp, dtype: int32

In [106]:
df.random

0     13
1     12
2     13
3     11
4     12
5     10
6     11
7     12
8     11
9     12
10    14
11    13
12    10
13    11
14    10
15    13
16    11
17    10
18    14
19    11
Name: random, dtype: int32

In [107]:
df[['temp','random']]

    temp  random
0     66      13
1     32      12
2     56      13
3     56      11
4     78      12
5     42      10
6     94      11
7     22      12
8     83      11
9     83      12
10    34      14
11    40      13
12    34      10
13    94      11
14    62      10
15    87      13
16    22      11
17    66      10
18    66      14
19    51      11

In [108]:
df['temp'].describe()

count    20.000000
mean     58.400000
std      23.333734
min      22.000000
25%      38.500000
50%      59.000000
75%      79.250000
max      94.000000
Name: temp, dtype: float64

In [109]:
df.values

array([[66, 'Geeks', 13],
       [32, 'Ant', 12],
       [56, 'Abhay', 13],
       [56, 'Geeks', 11],
       [78, 'Teclov', 12],
       [42, 'Abhay', 10],
       [94, 'Abhay', 11],
       [22, 'Abhay', 12],
       [83, 'Abhay', 11],
       [83, 'Geeks', 12],
       [34, 'Teclov', 14],
       [40, 'Ant', 13],
       [34, 'Teclov', 10],
       [94, 'Ant', 11],
       [62, 'Ant', 10],
       [87, 'Teclov', 13],
       [22, 'Abhay', 11],
       [66, 'Geeks', 10],
       [66, 'Abhay', 14],
       [51, 'Ant', 11]], dtype=object)

In [110]:
df.set_index('temp', inplace=True)

In [111]:
df

        name  random
temp
66     Geeks      13
32       Ant      12
56     Abhay      13
56     Geeks      11
78    Teclov      12
42     Abhay      10
94     Abhay      11
22     Abhay      12
83     Abhay      11
83     Geeks      12
34    Teclov      14
40       Ant      13
34    Teclov      10
94       Ant      11
62       Ant      10
87    Teclov      13
22     Abhay      11
66     Geeks      10
66     Abhay      14
51       Ant      11

In [112]:
df.sort_index(axis = 0, ascending= False )

        name  random
temp
94       Ant      11
94     Abhay      11
87    Teclov      13
83     Abhay      11
83     Geeks      12
78    Teclov      12
66     Geeks      13
66     Abhay      14
66     Geeks      10
62       Ant      10
56     Abhay      13
56     Geeks      11
51       Ant      11
42     Abhay      10
40       Ant      13
34    Teclov      10
34    Teclov      14
32       Ant      12
22     Abhay      11
22     Abhay      12

In [113]:
df.sort_values(by = 'random', ascending =  False )

        name  random
temp
34    Teclov      14
66     Abhay      14
40       Ant      13
87    Teclov      13
66     Geeks      13
56     Abhay      13
22     Abhay      12
83     Geeks      12
32       Ant      12
78    Teclov      12
94     Abhay      11
83     Abhay      11
94       Ant      11
56     Geeks      11
22     Abhay      11
51       Ant      11
42     Abhay      10
34    Teclov      10
62       Ant      10
66     Geeks      10

In [114]:
df.drop(['random'] , axis=1)

        name
temp
66     Geeks
32       Ant
56     Abhay
56     Geeks
78    Teclov
42     Abhay
94     Abhay
22     Abhay
83     Abhay
83     Geeks
34    Teclov
40       Ant
34    Teclov
94       Ant
62       Ant
87    Teclov
22     Abhay
66     Geeks
66     Abhay
51       Ant

Location via index

In [115]:
df.iloc[[0,1]]

       name  random
temp
66    Geeks      13
32      Ant      12

In [116]:
df.iloc[1:3,1 ]

temp
32    12
56    13
Name: random, dtype: int32

In [117]:
df.iloc[[True, True, False]]

IndexError: Boolean index has wrong length: 3 instead of 20

In [ ]:
df.iloc[[0]]

In [ ]:
df.iloc[[0,3,10]]

In [ ]:
df.loc[83,:] #All columns and value = 83

In [ ]:
df.loc[[47,50,83]]

In [ ]:
df.loc[[47,83], 'name' : 'random']

In [ ]:
df.loc[df.random > 13] #df.columnname > 13

In [ ]:
df.loc[(df.random> 13) | (df.random == 10),:]

In [ ]:
df[df.random > 10]

Merging and concatenation

In [140]:
d1 = pd.DataFrame([['a',1],['b', 2]], columns=['col1','number'])
d2 =pd.DataFrame([['c',3,'lion'],['d', 4, 'tiger']], columns=['letter','number','animal'])

In [141]:
d1

  col1  number
0    a       1
1    b       2

In [142]:
d2

  letter  number animal
0      c       3   lion
1      d       4  tiger

In [ ]:
pd.concat([d1,d2],axis = 0)

Here index is one after another

In [ ]:
pd.concat([d1,d2],axis = 0, ignore_index=True)

In [ ]:
pd.concat([d1,d2],axis = 1)

In [ ]:
d1 = pd.DataFrame({
    'city' : ['delhi', 'kanpur', 'lucknow'],
    'humidity': [68,75,84]
})

In [ ]:
d1

In [ ]:
d2 = pd.DataFrame({
    'city' : ['agra', 'Sikandarabad', 'Mumbai'],
    'humidity': [45,25,54]
})

In [ ]:
d2

In [ ]:
df = pd.merge(d1,d2, on= 'city')

In [ ]:
df

In [ ]:
df = pd.merge(d1,d2, on=[ 'city'], how = 'outer')

In [ ]:
df

In [145]:
d1= pd.read_csv('indian movies.csv')

In [146]:
d1.head()

,ID,Movie Name,Year,Timing(min),Rating(10),Votes,Genre,Language
0,tt0398974,Dr. Shaitan,1960,-,-,-,-,hindi
1,tt1702558,Nadir Khan,1968,-,-,-,-,urdu
2,tt0493437,Apna Sapna Money Money,2006,134 min,5.3,"1,892","Comedy, Musical, Romance",hindi
3,tt0273405,Aag Aur Sholay,1987,-,2.2,20,-,urdu
4,tt0049595,Parivar,1956,-,7.4,21,"Comedy, Drama, Family",hindi

In [147]:
d1.columns

Index(['ID', 'Movie Name', 'Year', 'Timing(min)', 'Rating(10)', 'Votes',
       'Genre', 'Language'],
      dtype='object')

In [148]:
x = d1[['Movie Name', 'Votes', 'Language']]

In [149]:
x

                   Movie Name  Votes  Language
0                 Dr. Shaitan      -     hindi
1                  Nadir Khan      -      urdu
2      Apna Sapna Money Money  1,892     hindi
3              Aag Aur Sholay     20      urdu
4                     Parivar     21     hindi
...                       ...    ...       ...
50597          Sulagte Armaan      -     hindi
50598                  Aranya      -  assamese
50599              Balayogini      -    telugu
50600                 Alajadi      -    telugu
50601             KA-99 B-333      -   kannada

[50602 rows x 3 columns]

In [150]:
df_grp = d1.groupby("Language")

In [151]:
df_grp

In [152]:
for i in df_grp:
    print(i)

('assamese',                ID        Movie Name  Year Timing(min) Rating(10) Votes  \
201     tt1977836        Kalsandhya  1997     124 min        7.8    11
210     tt1081913             Aideu  2007      91 min          -     -
378    tt11653688      Local Utpaat  2020           -          -     -
458    tt13637832  Jaanmoni Vol - 1  2008      70 min          -     -
754     tt0230864          Tejimola  1967           -          -     -
...           ...               ...   ...         ...        ...   ...
50207   tt8188914             Nayak  2001           -        6.6    14
50298  tt13625038       Priya Milon  2011      86 min          -     -
50334  tt13812690       Soru Bowari  2003           -          -     -
50368  tt13637902    Jaanmoni Vol:1  2010      75 min          -     -
50598   tt0315201            Aranya  1971     107 min          -     -

                                    Genre  Language
201                     Drama              assamese
210                                     -  assamese
378            Action, Comedy              assamese
458          Musical, Romance              assamese
754                                     -  assamese
...                                   ...       ...
50207          Drama, Romance              assamese
50298                 Romance              assamese
50334  Drama, Family, Romance              assamese
50368                 Romance              assamese
50598                   Drama              assamese

[450 rows x 8 columns])
('bengali',               ID                 Movie Name  Year Timing(min) Rating(10)  \
9      tt0364628                 Raktalekha  1992     175 min        6.3
34             -                        Jam   NaN           -          -
77     tt1524568                Pratipaksha  1988     108 min        6.9
81     tt2942618  Dehorokkhi: The Bodyguard  2013     167 min        6.8
94     tt3952870                     Britto  2014     124 min        7.5
...          ...                        ...   ...         ...        ...
50560  tt7099142                Jawker Dhan  2017     107 min        5.9
50566  tt1594530                  Ramprasad  1947           -          -
50568  tt3867432               Mayar Sansar  1962           -          -
50571  tt5009100                 Uro Chithi  2011     130 min        5.8
50587  tt0231191           Atal Jaler Ahwan  1962           -        6.6

      Votes                                   Genre Language
9        12                       Drama              bengali
34        -                       Drama              bengali
77        8               Action, Drama              bengali
81      402                      Action              bengali
94       12                       Drama              bengali
...     ...                                     ...      ...
50560   119  Action, Adventure, Mystery              bengali
50566     -                                       -  bengali
50568     -                       Drama              bengali
50571    56                       Drama              bengali
50587    14                       Drama              bengali

[4200 rows x 8 columns])
('bhojpuri',                ID             Movie Name  Year Timing(min) Rating(10) Votes  \
36      tt1827428   Hamra Se Biyah Karba  2003           -          -     -
75      tt7419244                 Takrav  2018           -          -     -
266     tt7586994        Kaashi Amarnath  2017     162 min        4.7    11
287     tt5242076           Prem Vidrohi  2012           -          -     -
323     tt0231204            Awara Badal  1964     134 min        5.9    14
...           ...                    ...   ...         ...        ...   ...
50109   tt7608988               Saugandh  2018           -        6.9     8
50248   tt5508604                  Nagin  2013     162 min        5.8     5
50479  tt11011868  Nirahua Chalal London  2019     146 min          -     -
50502   tt8529070          Pinky Memsaab  2018     124 min        6.4   407
50567   tt2147209               Balidaan  2009           -          -     -

                                      Genre  Language
36                        Drama              bhojpuri
75              Action, Romance              bhojpuri
266      Action, Drama, Romance              bhojpuri
287                      Action              bhojpuri
323    Action, Adventure, Drama              bhojpuri
...                                     ...       ...
50109           Action, Romance              bhojpuri
50248                     Drama              bhojpuri
50479                     Drama              bhojpuri
50502             Drama, Family              bhojpuri
50567                    Action              bhojpuri

[500 rows x 8 columns])
('gujarati',                ID                    Movie Name  Year Timing(min) Rating(10)  \
60      tt4601930                  Hasta Melapa  1969           -          -
214             -                         Khape   NaN           -          -
227     tt9725092                    Swabhimaan  2019     122 min          -
251    tt12976166           Band Baaja Babuchak  2017     123 min          -
293     tt4604852                  Diyar Bhojai  1980           -          -
...           ...                           ...   ...         ...        ...
50266   tt9556378         Maadi Maane Kaheve De  1968           -          -
50354           -       Chaar Bangadi Vadi Gadi   NaN     122 min          -
50415   tt6091450  Reunion: Chalo Pachha Maliye  2017     156 min        7.9
50459  tt10932080                     Raghu CNG  2019           -        7.7
50543           -                         Mukti  2021     106 min          -

      Votes                        Genre  Language
60        -            Drama              gujarati
214       -            Drama              gujarati
227       -            Drama              gujarati
251       -           Comedy              gujarati
293       -          Romance              gujarati
...     ...                          ...       ...
50266     -            Drama              gujarati
50354     -            Drama              gujarati
50415    18    Comedy, Drama              gujarati
50459     9  Crime, Thriller              gujarati
50543     -            Drama              gujarati

[700 rows x 8 columns])
('hindi',               ID              Movie Name  Year Timing(min) Rating(10)  Votes  \
0      tt0398974             Dr. Shaitan  1960           -          -      -
2      tt0493437  Apna Sapna Money Money  2006     134 min        5.3  1,892
4      tt0049595                 Parivar  1956           -        7.4     21
5      tt2930026    Humraah: The Traitor  2008           -          -      -
6      tt6597160  Jacqueline I Am Coming  2019     112 min        7.9     16
...          ...                     ...   ...         ...        ...    ...
50593  tt3065582         Romeo in Sikkim  1975           -          -      -
50594  tt0073191        Jai Santoshi Maa  1975     145 min        6.3    114
50595  tt0229947             Aakhri Geet  1975           -          -      -
50596  tt8706884             Prassthanam  2019     141 min        5.8  1,201
50597  tt2784720          Sulagte Armaan  1984           -          -      -

                                      Genre Language
0                                         -    hindi
2      Comedy, Musical, Romance                hindi
4         Comedy, Drama, Family                hindi
5                      Thriller                hindi
6                         Drama                hindi
...                                     ...      ...
50593                   Romance                hindi
50594            Drama, Fantasy                hindi
50595                                     -    hindi
50596             Action, Drama                hindi
50597                     Drama                hindi

[14350 rows x 8 columns])
('kannada',                ID                         Movie Name     Year Timing(min)  \
16      tt3148392                             Shatru     2013           -
41      tt6682124                              Rogue  II 2017     134 min
46     tt13276010                         Goolihatti     2015     156 min
71     tt14189052                 Ivanu Thumba Orata     2009           -
82      tt2777694                               Beru     2005     104 min
...           ...                                ...      ...         ...
50492  tt13145126  Thathana Thithi Mommagana Prastha     2017           -
50515   tt7124740                   Akkammana Bhagya     2017     117 min
50527   tt0261997            Shri Renukadevi Mahatme     1977     140 min
50537   tt0234415                            Pallavi     1976     128 min
50601  tt14143738                        KA-99 B-333     2009           -

      Rating(10) Votes                               Genre Language
16           4.5    11        Action, Thriller              kannada
41           5.1   118        Action, Thriller              kannada
46             -     -                   Drama              kannada
71             -     -                   Drama              kannada
82           8.3    19                   Drama              kannada
...          ...   ...                                 ...      ...
50492          -     -                   Drama              kannada
50515        7.5    10  Drama, Family, History              kannada
50527          -     -                                   -  kannada
50537        8.6     5                                   -  kannada
50601          -     -                   Drama              kannada

[3233 rows x 8 columns])
('kashmiri',                ID                      Movie Name     Year Timing(min)  \
1208    tt2321365                          Jaagor     2009     125 min
3761    tt1499679                Paltadacho munis     2009      96 min
4815    tt0236210  Dev Anand in Goa (Alias Farar)     1955           -
4976    tt5335262               Home Sweet Home 2     2015     127 min
8730   tt14496386                      Zanvoy No1     2018           -
10068  tt13396950                       Bade Abbu     2019     121 min
11092  tt10467800                         Aleesha     2004           -
11889  tt14111104                         Kantaar     2019     117 min
13027   tt3527068                     A Rainy Day     2014      89 min
13141   tt6384274                          Martin   I 2017      89 min
14072   tt3142688                   Finding Fanny     2014     102 min
16163   tt5214108                            Juje     2017      94 min
16607  tt10467754               Planning Devachem     2018           -
16698   tt1946132                    Amchem Noxib     1963           -
20891   tt9001902             Questao De Confusao     2018     154 min
21894  tt12003716                         O Maria   I 2010     110 min
22086   tt5040904                          Enemy?     2015      94 min
24314  tt13944702                         Amizade     2018           -
28369   tt1945181                  Sukhache Sopon     1966           -
29231   tt2198644                      The Victim     2012           -
29492   tt3626076                          Rodina   I 2015     110 min
29930   tt1736628                         Nirmonn     1966           -
30317   tt5177914              Nirmon the Destiny     2015           -
31517   tt6203780                          Mortoo     2015     107 min
32320   tt1946327                 Mhoji Ghorkan'n     1969           -
33944  tt10448854                      Mopa diary     2019           -
35227   tt8170282               Hanv Tum Tum Hanv     2016     108 min
35847  tt10477814                           Padri     2005           -
36637   tt5906418                Welcome M1LL10NS     2018     117 min
37698   tt1941604                  Mogacho Anvddo     1950           -
38820   tt4293668                 Home Sweet Home   V 2014           -
38877   tt8458418                         O La La     2018     125 min
39784  tt10534786         Glory - Go for the Goal     2019     114 min
41858   tt5835898                Memories of Fear     1995      57 min
42325   tt4742102              Nachom-ia Kumpasar     2015     156 min
42815   tt5908414                         Gunaaji     2014     125 min
43374   tt2473432                      Baga Beach     2013     103 min
43739   tt0334781                Zau Zau Teg Bhau     1985           -
44167  tt11786308                       Ironheart     2020      80 min
45620  tt12008720                         O Maria  II 2010     110 min
47416   tt0064915                 Saat Hindustani     1969     144 min
49390   tt1946287             Kortubancho Sonvsar     1970           -
49510  tt12374520              Nirmillem nirmonem     2019           -

      Rating(10)  Votes                                 Genre  Language
1208           -      -                     Drama              kashmiri
3761         7.4     48                     Drama              kashmiri
4815         5.8     16    Action, Drama, Romance              kashmiri
4976           -      -                     Drama              kashmiri
8730           -      -                     Drama              kashmiri
10068          -      -                     Drama              kashmiri
11092          -      -                     Drama              kashmiri
11889          -      -                     Drama              kashmiri
13027        5.0     10    Drama, Family, Mystery              kashmiri
13141        7.6     13                  Thriller              kashmiri
14072        5.7  6,177  Adventure, Comedy, Drama              kashmiri
16163        7.2     53                     Drama              kashmiri
16607          -      -                    Action              kashmiri
16698          -      -                     Drama              kashmiri
20891          -      -                    Comedy              kashmiri
21894          -      -                    Family              kashmiri
22086        8.1     19                     Drama              kashmiri
24314          -      -                    Action              kashmiri
28369          -      -                   Romance              kashmiri
29231        7.9     12                     Drama              kashmiri
29492        5.5    356                     Drama              kashmiri
29930          -      -                     Drama              kashmiri
30317        6.8      8                     Drama              kashmiri
31517          -      -                    Comedy              kashmiri
32320          -      -                    Comedy              kashmiri
33944          -      -                  Thriller              kashmiri
35227          -      -                     Drama              kashmiri
35847          -      -                     Drama              kashmiri
36637        6.0     11  Crime, Mystery, Thriller              kashmiri
37698          -      -                   Romance              kashmiri
38820        7.7     17                    Comedy              kashmiri
38877          -      -                    Comedy              kashmiri
39784          -      -              Drama, Sport              kashmiri
41858          -      -                     Drama              kashmiri
42325        8.4     90   Drama, Musical, Romance              kashmiri
42815          -      -                     Drama              kashmiri
43374        5.9     14                     Drama              kashmiri
43739          -      -                                     -  kashmiri
44167          -      -           Mystery, Sci-Fi              kashmiri
45620          -      -                    Family              kashmiri
47416        6.5    198  Action, Adventure, Drama              kashmiri
49390          -      -                   Romance              kashmiri
49510          -      -                     Drama              kashmiri  )
('konkani',                ID                      Movie Name     Year Timing(min)  \
2184    tt5335262               Home Sweet Home 2     2015     127 min
3118    tt5040904                          Enemy?     2015      94 min
6906    tt1945181                  Sukhache Sopon     1966           -
7061    tt5908414                         Gunaaji     2014     125 min
11864  tt10477814                           Padri     2005           -
12812   tt5214108                            Juje     2017      94 min
13413   tt0236210  Dev Anand in Goa (Alias Farar)     1955           -
14979   tt6384274                          Martin   I 2017      89 min
15645   tt4742102              Nachom-ia Kumpasar     2015     156 min
18485   tt0064915                 Saat Hindustani     1969     144 min
19800   tt9001902             Questao De Confusao     2018     154 min
20196   tt1946132                    Amchem Noxib     1963           -
20373   tt6203780                          Mortoo     2015     107 min
23595  tt11786308                       Ironheart     2020      80 min
24081   tt1499679                Paltadacho munis     2009      96 min
25398  tt12003716                         O Maria   I 2010     110 min
26202  tt12374520              Nirmillem nirmonem     2019           -
28638   tt5835898                Memories of Fear     1995      57 min
28925   tt5177914              Nirmon the Destiny     2015           -
31012   tt3142688                   Finding Fanny     2014     102 min
31429   tt1941604                  Mogacho Anvddo     1950           -
32739   tt3626076                          Rodina   I 2015     110 min
33401  tt13396950                       Bade Abbu     2019     121 min
34083   tt2198644                      The Victim     2012           -
35839   tt8170282               Hanv Tum Tum Hanv     2016     108 min
36153  tt10467800                         Aleesha     2004           -
37286  tt10534786         Glory - Go for the Goal     2019     114 min
38723   tt5906418                Welcome M1LL10NS     2018     117 min
39251   tt4293668                 Home Sweet Home   V 2014           -
39917   tt2321365                          Jaagor     2009     125 min
39976   tt1736628                         Nirmonn     1966           -
40119   tt8458418                         O La La     2018     125 min
40639   tt0334781                Zau Zau Teg Bhau     1985           -
40852  tt14496386                      Zanvoy No1     2018           -
41560   tt1946327                 Mhoji Ghorkan'n     1969           -
41842  tt10448854                      Mopa diary     2019           -
42975  tt13944702                         Amizade     2018           -
43577   tt1946287             Kortubancho Sonvsar     1970           -
44299   tt3527068                     A Rainy Day     2014      89 min
45611  tt10467754               Planning Devachem     2018           -
45894  tt14111104                         Kantaar     2019     117 min
46389  tt12008720                         O Maria  II 2010     110 min
49296   tt2473432                      Baga Beach     2013     103 min

      Rating(10)  Votes                                 Genre Language
2184           -      -                     Drama              konkani
3118         8.1     19                     Drama              konkani
6906           -      -                   Romance              konkani
7061           -      -                     Drama              konkani
11864          -      -                     Drama              konkani
12812        7.2     53                     Drama              konkani
13413        5.8     16    Action, Drama, Romance              konkani
14979        7.6     13                  Thriller              konkani
15645        8.4     90   Drama, Musical, Romance              konkani
18485        6.5    198  Action, Adventure, Drama              konkani
19800          -      -                    Comedy              konkani

In [154]:
df_grp.get_group('marathi')

,ID,Movie Name,Year,Timing(min),Rating(10),Votes,Genre,Language
19,tt2302945,Tukaram,2012,156 min,7.3,231,"Biography, Drama, History",marathi
89,tt0248294,Patthe Bapurao,1950,143 min,-,-,-,marathi
93,tt14045622,Preetam,2021,-,9.0,15,Romance,marathi
116,tt3982578,Hututu,2014,138 min,5.0,5,Comedy,marathi
130,tt6577668,Weather Report,2017,91 min,-,-,Drama,marathi
...,...,...,...,...,...,...,...,...
50428,tt2811910,Oti Krishnamaichi,2004,-,-,-,Drama,marathi
50482,tt14071172,Vidhilikhit,1989,-,-,-,Drama,marathi
50488,tt5496754,Nilkanth Master,2015,120 min,6.0,27,Drama,marathi
50547,tt12715184,Ashi Asavi Sasu,1996,-,-,-,Family,marathi
50569,tt0273632,Gopal Krishna,II 1938,132 min,-,-,-,marathi

In [156]:
df_grp.describe()

              ID                         Movie Name         \
           count unique         top freq      count unique
Language
assamese     450    436           -   15        450    435
bengali     4200   4060           -  141       4200   3933
bhojpuri     500    455           -   46        500    500
gujarati     700    654           -   47        700    693
hindi      14350  13625           -  726      14350  12725
kannada     3233   3074           -  160       3233   3179
kashmiri      43     43   tt2321365    1         43     42
konkani       43     43   tt5335262    1         43     42
malayalam   6200   5849           -  352       6200   6032
marathi     2300   2197           -  104       2300   2266
nepali      1000    943           -   58       1000    961
oriya        850    850   tt0266712    1        850    739
punjabi     1800   1729           -   72       1800   1725
rajastani    100     97           -    4        100     99
sanskrit      48     45           -    4         48     48
tamil       6000   5572           -  429       6000   5839
telugu      5300   5049           -  252       5300   5058
tulu          38     38  tt11053238    1         38     38
urdu        3447   3351           -   97       3447   2829

                                       Year         ... Rating(10)        \
                            top freq  count unique  ...        top  freq
Language                                            ...
assamese                 Anjana    6    442     95  ...          -   360
bengali                     Maa    5   4114    174  ...          -  2155
bhojpuri   Hamra Se Biyah Karba    1    462     48  ...          -   419
gujarati         Jogidas Khuman    3    666     90  ...          -   495
hindi                    Anjaam    7  13915    247  ...          -  7167
kannada             Chandrahasa    3   3146    159  ...          -  2069
kashmiri                O Maria    2     43     25  ...          -    28
konkani                 O Maria    2     43     25  ...          -    28
malayalam             Bigg Boss   17   5971    258  ...          -  3185
marathi           Pudhcha Paool    2   2239    153  ...          -  1470
nepali          Madam Secretary   23    962    142  ...          -   597
oriya         Dirilis: Ertugrul   26    850    175  ...        7.6    52
punjabi           Sohni Mahiwal    3   1751    126  ...          -  1169
rajastani           Coke Studio    2     97     45  ...          -    54
sanskrit      Da Tang Xuan Zang    1     47     32  ...          -    18
tamil            Madurai Veeran    4   5704    197  ...          -  2975
telugu                  Lakshmi    4   5170    206  ...          -  2468
tulu                     Girgit    1     37     16  ...          -    17
urdu                 Alif Laila  166   3382    316  ...          -  2252

           Votes                   Genre
           count unique top  freq  count unique                 top  freq
Language
assamese     450     46   -   360    450     62   Drama               112
bengali     4200    487   -  2155   4200    181   Drama              2214
bhojpuri     500     50   -   419    500     44   Drama               259
gujarati     700    123   -   495    700     67   Drama               266
hindi      14350   1904   -  7166  14350    429   Drama              2610
kannada     3233    325   -  2069   3233    160   Drama              1365
kashmiri      43     16   -    28     43     15   Drama                20
konkani       43     16   -    28     43     15   Drama                20
malayalam   6200    788   -  3185   6200    299                   -  1882
marathi     2300    224   -  1470   2300    108   Drama               862
nepali      1000    138   -   597   1000    150   Drama               195
oriya        850    336   6    42    850    176   Drama               196
punjabi     1800    297   -  1169   1800    122                   -   561
rajastani    100     38   -    54    100     38   Drama                25
sanskrit      48     30   -    18     48     31   Drama                12
tamil       6000    946   -  2975   6000    224   Drama              1937
telugu      5300    835   -  2468   5300    238   Drama              1397
tulu          38     18   -    17     38     16  Comedy                 9
urdu        3447    404   -  2252   3447    306                   -   635

[19 rows x 28 columns]

#### String to datetime
pd.to_datetime

In [157]:
def hit(x):
    return x >100

In [163]:
d1[hit] = d1["Votes"].apply(hit)

TypeError: '>' not supported between instances of 'str' and 'int'

In [161]:
df.head()

        name  random
temp
66     Geeks      13
32       Ant      12
56     Abhay      13
56     Geeks      11
78    Teclov      12

In [133]:
max(d1["Votes"])

'999'

In [137]:
d1.dropna()

,ID,Movie Name,Year,Timing(min),Rating(10),Votes,Genre,Language
0,tt0398974,Dr. Shaitan,1960,-,-,-,-,hindi
1,tt1702558,Nadir Khan,1968,-,-,-,-,urdu
2,tt0493437,Apna Sapna Money Money,2006,134 min,5.3,"1,892","Comedy, Musical, Romance",hindi
3,tt0273405,Aag Aur Sholay,1987,-,2.2,20,-,urdu
4,tt0049595,Parivar,1956,-,7.4,21,"Comedy, Drama, Family",hindi
...,...,...,...,...,...,...,...,...
50597,tt2784720,Sulagte Armaan,1984,-,-,-,Drama,hindi
50598,tt0315201,Aranya,1971,107 min,-,-,Drama,assamese
50599,tt0270221,Balayogini,1936,120 min,-,-,-,telugu
50600,tt0388697,Alajadi,1990,133 min,-,-,Drama,telugu
50601,tt14143738,KA-99 B-333,2009,-,-,-,Drama,kannada

In [138]:
a = d1["Votes"].head()

In [139]:
a.mean()

TypeError: Could not convert --1,8922021 to numeric

#### Concatenation

In [166]:
india = pd.DataFrame({
    "city" : ["Mumbai", "Pune"],
    "temp" : [21,14],
    "humidity" : [68,65]
})

In [167]:
india

     city  temp  humidity
0  Mumbai    21        68
1    Pune    14        65

In [168]:
us = pd.DataFrame({
    "city" : ["chicago", "Orlando"],
    "temp" : [21,14],
    "humidity" : [68,65]
})

In [169]:
us

      city  temp  humidity
0  chicago    21        68
1  Orlando    14        65

In [172]:
df = pd.concat([india,us],ignore_index=True)

In [173]:
df

      city  temp  humidity
0   Mumbai    21        68
1     Pune    14        65
2  chicago    21        68
3  Orlando    14        65

In [174]:
df = pd.concat([india, us], keys = ["ind","us"])

In [175]:
df

          city  temp  humidity
ind 0   Mumbai    21        68
    1     Pune    14        65
us  0  chicago    21        68
    1  Orlando    14        65

In [176]:
df.loc["us"]

      city  temp  humidity
0  chicago    21        68
1  Orlando    14        65

In [183]:
s = pd.Series(["humid", "dry"], name= "event")

In [184]:
s

0    humid
1      dry
Name: event, dtype: object

In [186]:
df = pd.concat([india,s], axis=1)

In [187]:
df

     city  temp  humidity  event
0  Mumbai    21        68  humid
1    Pune    14        65    dry

#### Merge

In [190]:
df3 = pd.merge(india,us)

In [191]:
df3

Empty DataFrame
Columns: [city, temp, humidity]
Index: []

#### Database joins

In [192]:
df3 = pd.merge(india,us, how="outer" , indicator=True)

In [193]:
df3

      city  temp  humidity      _merge
0   Mumbai    21        68   left_only
1     Pune    14        65   left_only
2  chicago    21        68  right_only
3  Orlando    14        65  right_only

In [194]:
df3 = pd.merge(india,us, how="inner" , indicator=True)

In [195]:
df3

Empty DataFrame
Columns: [city, temp, humidity, _merge]
Index: []

In [198]:
df3 = pd.merge(india,us, how="outer" , suffixes= ('_first', '_second'))

In [199]:
df3

      city  temp  humidity
0   Mumbai    21        68
1     Pune    14        65
2  chicago    21        68
3  Orlando    14        65

Pivot basics

In [200]:
import numpy as np

In [201]:
d1.head()

,ID,Movie Name,Year,Timing(min),Rating(10),Votes,Genre,Language
0,tt0398974,Dr. Shaitan,1960,-,-,-,-,hindi
1,tt1702558,Nadir Khan,1968,-,-,-,-,urdu
2,tt0493437,Apna Sapna Money Money,2006,134 min,5.3,"1,892","Comedy, Musical, Romance",hindi
3,tt0273405,Aag Aur Sholay,1987,-,2.2,20,-,urdu
4,tt0049595,Parivar,1956,-,7.4,21,"Comedy, Drama, Family",hindi

In [209]:
d1.pivot(index = 'Rating(10)', columns='Movie Name')

ValueError: Index contains duplicate entries, cannot reshape

Pivot and Pivottable

#### Stack & Unstacked

In [211]:
d1.stack()

0      ID                     tt0398974
       Movie Name           Dr. Shaitan
       Year                        1960
       Timing(min)                    -
       Rating(10)                     -
                            ...
50601  Timing(min)                    -
       Rating(10)                     -
       Votes                          -
       Genre          Drama
       Language                 kannada
Length: 403255, dtype: object

In [212]:
d1.unstack()

ID        0        tt0398974
          1        tt1702558
          2        tt0493437
          3        tt0273405
          4        tt0049595
                     ...
Language  50597        hindi
          50598     assamese
          50599       telugu
          50600       telugu
          50601      kannada
Length: 404816, dtype: object

In [213]:
d1.stack(level=0)

0      ID                     tt0398974
       Movie Name           Dr. Shaitan
       Year                        1960
       Timing(min)                    -
       Rating(10)                     -
                            ...
50601  Timing(min)                    -
       Rating(10)                     -
       Votes                          -
       Genre          Drama
       Language                 kannada
Length: 403255, dtype: object